:root {
    --main-color : blueviolet;
}

.common-form {
    display: flex;
    text-align: center;
    flex-direction: column;
    width: 300px;
    margin: auto;
}


.form-input {
    height: 35px;
    margin-bottom: 20px;
    padding-left: 10px;
    border: 1px solid blueviolet;
    color: var(--main-color);
}

.btn{
    border-radius: 5px;
    border: 2px solid black;
    padding: 2px;
    cursor: pointer;
    color: orangered;
    height: 30px;
    width: 100%;
    background-color: lightblue;
    font-size: 15px;
    font-weight: 700;
    font-style: normal;
}