.navbar{
    display: flex;
    justify-content: space-between;
}

.navbar h1{
    color: blueviolet;
    margin: 0;
    font-size: 40px;
}

.navbar ul{
    display: inline-flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar li{
    padding-left: 15px;
    padding-top: 15px;
}

.navbar li a{
    text-decoration: none;
    color: blueviolet;
}
.navbar .navbar-search input{
    flex: 1;
    color: blueviolet;
    border: 1px solid blueviolet;
    height: 35px;
    border-right: 0px;
}

.navbar .navbar-search{
    margin-top: 5px;
    flex: 1;
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
}

.navbar .navbar-search button{
    color: blueviolet;
    border: 1px solid blueviolet;
    height: 40px;
    border-left: 0px;
}
